asgiref==3.8.1
async-timeout==5.0.1
Brotli==1.1.0
cffi==1.17.1
cssselect2==0.8.0
Django==5.1.8
django-tenant-schemas==1.12.0
django-tenants==3.7.0
fonttools==4.57.0
gunicorn==23.0.0
ordered-set==4.1.0
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
redis==5.2.1
six==1.17.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
weasyprint==65.1
webencodings==0.5.1
whitenoise==6.9.0
zopfli==0.2.3.post1
dj-database-url==2.3.0
django-environ==0.12.0
python-decouple==3.8
