{% include 'navbar.html' %}
{% load static %} 

{{q}}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'style.css' %}">

<style>

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

th, td {
  text-align: center;
  padding: 16px;
}

</style>
</head>
<body>

<div >
  <center><h2>{{head}}</h2></center>
    <table>
      <h3>BALANCE</h3>
      <tr bgcolor="yellow">
        <td>PRODUCT</td>
        <td>TOTAL</td>
      </tr>
      {% for i, j in d2.items %}
      <tr>
        <td>{{i}}</td>
        <td>{{j|floatformat}}</td>
      </tr>
      {% endfor %}
    </table>

    <div class="row">
      <div class="column">
        <table>
          <h3>PURCHASES</h3>
          <tr bgcolor="yellow">
            <td>PRODUCT</td>
            <td>TOTAL</td>
          </tr>
          <tr>

           {%if product == True%}
          {% for item in purch_list %}
          <td><a href="{% url 'purchprod' item.id %}">{{item.name}}</a></td>
          <td>{{item.purchased}}</td>
          <td>{{j}}</td></tr>
          {% endfor %}
          {%else%}
          {% for i, j in d.items %}
          <tr><td><a href="{% url 'modepurch' i %}">{{i}}</a></td>
          <td>{{j}}</td>
          {% endfor %}
          {%endif%}
            </tr>





        </table>
      </div>

      <div class="column">
        <table>
          <h3>SALE</h3>
          <tr bgcolor="yellow">
            <td>PRODUCT</td>
            <td>TOTAL</td>
          </tr>

           {%if product == True%}
          {% for item in sale_list %}
          <td><a href="{% url 'prod' item.id %}">{{item.name}}</a></td>
          <td>{{item.sold}}</td>
          <td>{{j}}</td></tr>
          {% endfor %}
          {%else%}
          {% for i, j in d1.items %}
          <tr><td><a href="{% url 'mode' i %}">{{i}}</a></td>
          <td>{{j}}</td>
          {% endfor %}
          {%endif%}
            </tr>



        
        </table>
      </div>
    </div>



</body>
</html>
